Package: com.propr.joe
Name: Joe
Version: 0.4.0
Architecture: iphoneos-arm
Description: joe mama made a customization tweak
Depiction: https://proprdev.github.io/repo/depictions/com.propr.joe.html
SileoDepiction: https://proprdev.github.io/repo/sileodepictions/com.propr.joe/depiction.json
Maintainer: propr
Section: Tweaks
Conflicts: com.captinc.batchomatic
Depends: mobilesubstrate, preferenceloader, firmware (>=14.0), com.propr.libpropr
